/* color-scheme styling */
:root[color-mode="light"] {
   --color-scheme-page-background: #F5F6F8;
   --color-scheme-card-background: #FFFFFF;
   --color-scheme-text-color: #6e8098;
   --color-scheme-heading-color: black;
    transition: all 0s;
 }

 :root[color-mode="light"] .light-hidden {
   display: none;
 }

  :root[color-mode="dark"] {
    --color-scheme-page-background:  #131822;
    --color-scheme-card-background: #19212D;
    --color-scheme-text-color: #9daec2;
    --color-scheme-heading-color: white;
    transition: all 0s;
  }

   :root[color-mode="dark"] .dark-hidden {
   display: none;
 }

 .text-muted {
   color: var(--color-scheme-text-color)!important;
 }

 .card-title, h1, .footer h3 {
   color: var(--color-scheme-heading-color);
 }

 strong {
    color: var(--color-scheme-heading-color);
 }

 .job-details-description, .search-form-container label {
   color: var(--color-scheme-text-color);
 }

  .border-right {
    border-right: 1px solid var(--color-scheme-text-color)!important;
    border-radius: 0px;
  }

  .color-scheme-button {
   width: 90px;
 }

 header i {
   position: relative;
 }



* {
  font-family: "Montserrat", Arial, sans-serif;
}

#root, html {
  background-color: var(--color-scheme-page-background);
}

.job-card-background, .job-details-card-header, .input, .input:focus {
  background-color: var(--color-scheme-card-background);
}

.container {
  position: relative;
}

.purple {
  color: #5865E0;
}

.btn-primary {
  background-color: #5865E0!important;
  outline: none;
}

.hide {
  display: none;
}

/* header styling */
.app-logo, .app-logo:hover {
  color: white;
  text-decoration: none;
}

.header {
  background-image: url("https://i.imgur.com/FbQPtRN.jpg");
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 100px;
}

/* home view styling */

.company-logo {
  object-fit: contain
}

form {
  position: absolute;
  bottom: 30px;
  background-color: var(--color-scheme-card-background);
  border-radius: 5px;
}

i {
  position: absolute;
}

.form-check-label {
  font-weight: bold;
}

.input:focus, .btn:focus {
    outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* job-card styling */

.job-badge {
  background-color: #5865E0;
  width: 50px;
  height: 50px;
}

.company-logo {
  top: -24px;
  position: absolute;
}

.job-card {
  flex-basis: calc(33% - 30px);
  border-radius: 10px!important;
    -webkit-box-shadow: 0 0 5px rgba(33,33,33,.2);
          box-shadow: 0 0 5px rgba(33,33,33,.2);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.job-card:hover {
    -webkit-transform: translateY(-.5rem);
      -ms-transform: translateY(-.5rem);
          transform: translateY(-.5rem);
  -webkit-box-shadow: 0 0 15px rgba(33,33,33,.2);
          box-shadow: 0 0 15px rgba(33,33,33,.2);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.job-card-header {
  height: 32px;
}

.job-card-location {
  font-size: 12px;
}

.job-card-body {
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.job-card:hover, label:hover, #full_time:hover, #geolocation:hover  {
  cursor: pointer;
}

/* job-details styling */

.job-details-container {
  height: calc(100% + 120px);
}

.job-details-container > header {
  position: absolute;
  top: -60px;
  z-index: 2;
  width: calc(100% - 30px)!important;
  border-radius: 10px;
}

.details-company-logo {
  object-fit: contain
}

.details-badge {
    background-color: #5865E0;
  width: 150px;
  height: 150px;
  font-size: 90px;
}

.button-job-details-card-apply {
  width: 140px;
}

.button-company-url {
  background-color: #efeef8!important;
  outline: #efeef8!important;
  opacity: .6;
    -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 140px;
}

.button-company-url:hover {
  color: #5865E0!important;
  opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.job-details-card {
  top: 120px;
  border-radius: 10px!important;
}

.job-details-description > a {
  color: #5865E0!important;
  font-weight: bold;
}

.job-details-how-to-apply-card {
  top: 120px;
  height: 100%;
  border-radius: 10px!important;
  background-image: url("https://i.imgur.com/FbQPtRN.jpg");
}

.details-header {
  border-radius: 10px;
  height: 150px;
}

a {
  color: #5865E0;
  font-weight: bold;
}

a:hover {
  color: #5865E0;
}

/* footer styling */

.footer {
  width: 100%;
  top: 120px;
  border-radius: 10px;
}

 .job-details-how-to-apply-card a {
   color: white;
 }

/* scrollbar styling */

* {
  scrollbar-width: thin;
  scrollbar-color: grey #f8f9fa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-scheme-page-background);
}

*::-webkit-scrollbar-thumb {
  background-color: #5865E0;
  border-radius: 20px;
  border: 3px solid var(--color-scheme-page-background);
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) {
  .job-card {
  flex-basis: calc(100% - 30px);
  }

  .border-right {
    border-right: 0px!important;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .job-card {
  flex-basis: calc(49% - 30px);
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .border-right {
    border-right: 1px solid var(--color-scheme-text-color)!important;
    border-radius: 0px;
  }

    .job-card {
  flex-basis: calc(32% - 30px);
  }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }
